[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mct011
[access "refs/for/refs/*"]
	read = group user/mct011
	push = group user/mct011
	label-Code-Review = -2..+2 group user/mct011
	label-Verified = -1..+1 group user/mct011
	rebase = group user/mct011
	removeReviewer = group user/mct011
	submit = group user/mct011
[access "refs/heads/*"]
	read = group user/mct011
	create = group user/mct011
	push = +force group user/mct011
	pushMerge = group user/mct011
[access "refs/tags/*"]
	push = +force group user/mct011
	pushTag = group user/mct011
	pushSignedTag = group user/mct011
